.sun{
    width: 140px;
    height:140px;
    border-radius: 50%;
    background-color: rgb(255,179,0);
    animation-name: sun;
    position: relative;
    animation-duration: 9s;
    animation-iteration-count:infinite;
    animation-timing-function: linear; 
    box-shadow: 0 0 20px 10px rgb(255, 179,0);
}
@keyframes sun{
    0%{background-color: rgb(255,179,0);top:0px;}
    100%{background-color: rgb(255,94,0);top:700px;}
}
.ground{
    background-color: rgb(55, 29, 11);
    width:100%;
    position: fixed;
    height:200px;
    bottom:0;
    left:0;
}
body{
    background-color:rgb(166, 211, 229);
    animation-name: sky;
    position: relative;
    animation-duration: 9s;
    animation-duration: reverse;
    animation-iteration-count:infinite;
}
@keyframes sky{
    0%{
        background-color: skyblue;
    }
    15%{
        background-color:rgb(136, 155, 182);
    }
    40%{
        background-color:rgb(227, 151, 103);
    }
    100%{
        background:rgb(1, 1, 79);
    }
}

.moon{
        width: 140px;
        height:140px;
        border-radius: 50%;
        background-color:rgb(170, 167, 167);
        animation-name: moon;
        position: relative;
        animation-duration: 9s;
        animation-iteration-count:infinite;
        float: right;
        animation-timing-function: linear;
        box-shadow: 0 0 20px 10px rgb(183, 181, 181);
}

@keyframes moon{
    0%{top:150pc;}
    100%{top:0px;}
}
